{% extends 'SwitchableThemeBundle::base.html.twig' %}

{% block title %}{{ "switchable_themes.create" | trans | capitalize }}{% endblock %}

{% block header %}
    <h1>{{ "switchable_themes.create" | trans | capitalize }}</h1>
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
