{% extends 'SwitchableThemeBundle::base.html.twig' %}

{% block title %}{{ "switchable_themes.edit" | trans | capitalize }}{% endblock %}

{% block header %}
    <h1>
        {{ "switchable_themes.edit" | trans | capitalize }}
        <small>
            {{ theme_registry.get(instance.theme).description }}
        </small>
    </h1>
{% endblock %}

{% block body %}
    {{ form(form) }}
{% endblock %}
